<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a template Job that must &lt;b&gt;NOT&lt;/b&gt; be changed. &#xd;
&lt;br&gt;&#xd;
&lt;br&gt;&#xd;
What this Job does:&#xd;
&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;Using artifacts and external resources from upstream &lt;b&gt;voxgen_ci&lt;/b&gt; and &lt;b&gt;voxgen_external_resouces&lt;/b&gt;.It will attempt a deployment to QA Stackato.&lt;/li&gt;&#xd;
&lt;/ul&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MANIFEST_URL</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREVIOUS_JOB_ARTIFACTS</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Navigating to artifacts for deployment.
cd ${PREVIOUS_JOB_ARTIFACTS}/

#!/bin/bash

# Download manifest.yml
echo &quot;Checking out manifest from
${MANIFEST_URL}&quot;
svn export --force ${MANIFEST_URL} manifest.yml

# push the app to stackato
stackato target https://192.168.45.227.xip.io
stackato login mball --passwd my-pass
stackato push --force-war-unpacking -n

stackato run --application dpdng --non-interactive rm -rf /home/stackato/app/customers/DPDNG/1.2.5-SNAPSHOT/*.tar.gz
stackato scp --application dpdng *.tar.gz :/home/stackato/app/customers/DPDNG/1.2.5-SNAPSHOT/
stackato run --application dpdng --non-interactive cd /home/stackato/app/customers/DPDNG/1.2.5-SNAPSHOT/ &amp;&amp; tar -zxvf *.tar.gz -C /home/stackato/app/grammars/



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.24">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>